name: deploy-aws

on:
  workflow_run:
    workflows:
      - checks
    types:
      - completed
    branches:
      - "*"
      - "main"

jobs:
  deploy_staging:
    runs-on: ubuntu-latest
    environment:
      name: staging
    env:
      CODEDEPLOY_APP_NAME: codedeploy-test
      AWS_DEPLOY_GROUP: codedeploy-group
    steps:
      - uses: actions/checkout@v2
        name: checkout
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ SECRETS.STAGE_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ SECRETS.STAGE_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ SECRETS.STAGE_AWS_REGION }}
      - name: trigger aws codedeploy
        env:
          AWS_CODE_DEPLOY_APPLICATION_NAME: ${{ ENV.CODEDEPLOY_APP_NAME }}
          AWS_CODE_DEPLOY_DEPLOYMENT_GROUP_NAME: ${{ ENV.AWS_DEPLOY_GROUP }}
          AWS_CODE_DEPLOY_DEPLOYMENT_CONFIG_NAME: CodeDeployDefault.OneAtATime
          GIT_COMMIT_ID: $GITHUB_SHA
        run: bash ./.scripts/code-deploy.sh