name: main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: checkout
      - name: setup node 14
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: restore cache
        uses: actions/cache@v2
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
      - name: install dependencies
        run: npm install
      - name: run tests
        run: npm run test

  deploy_staging:
    runs-on: ubuntu-latest
    needs:
      - run_tests
    environment:
      name: staging
    steps:
      - uses: actions/checkout@v2
        name: checkout
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ SECRETS.STAGE_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ SECRETS.STAGE_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ SECRETS.STAGE_AWS_REGION }}
      - name: trigger aws codedeploy
        env:
          AWS_CODE_DEPLOY_APPLICATION_NAME: ${{ SECRETES.STAGE_AWS_CODE_DEPLOY_APP_NAME }}
          AWS_CODE_DEPLOY_DEPLOYMENT_GROUP_NAME: ${{ SECRETS.STAGE_AWS_DEPLOY_GROUP }}
          AWS_CODE_DEPLOY_DEPLOYMENT_CONFIG_NAME: CodeDeployDefault.OneAtATime
        run: bash ./.scripts/code-deploy.sh