name: checks

on:
  push:
    branches:
      - "*"
      - "main"

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: install dependencies
        run: npm install
      - name: run tests
        run: npm run test

  deploy_staging:
    needs: 
      - run_tests
    environment:
      name: staging
    env:
      REMOTE_USER: ${{ SECRETS.STAGE_USER }}
      REMOTE_HOST: ${{ SECRETS.STAGE_HOST }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2.3.1
        with:
          key: ${{ SECRETS.STAGE_SSH_KEY }}
          known_hosts: ${{ SECRETS.STAGE_HOST }}
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: build
        run: npm run build:docker
      - name: package image
        run: npm run docker:package
      - name: deploy
        run: npm run deploy:stage